html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
  }

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

body{
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 100px 1fr;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}

header{
    background-color: lightblue;
    /* background-color: #ABE7DB; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
}

h1{
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    /* color: #FDF9DE; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

aside{
    /* border: 3px solid goldenrod; */
    background-color: rgb(92, 92, 92);
    flex: 1;
}

aside section{
    /* border: 2px solid goldenrod; */
    color: white;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
}

aside section:first-child{
    background-color: lightyellow;
    border: none;
    color: black;
}

aside section:nth-child(2){
    background-color: lightsalmon;
}

main{
    display: flex;
    /* border: 3px solid salmon; */
    flex: 8;
    justify-content: center;
    align-items: center;
}

#list{
    background-color: whitesmoke;
    border: 4px solid black;
    border-radius: 30px;
    width: 1100px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 40px;
    margin: 50px 0;
    column-gap: 40px;
    row-gap: 40px;
}

.todo{
    background-color: rgb(241, 241, 166);
    padding: 35px 25px;
    border: 2px solid black;
    flex: 0 1 300px;
    height: 300px;
}

.todo>*{
    margin-bottom: 10px;
}

.todo h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.dueDate, .priority{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.dueDate p:first-child, .priority p:first-child{
    font-weight: bold;
    margin-right: 5px;
}

#newTodo form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#newTodo{
    padding-bottom: 5px;
    /* background-color: rgba(255, 138, 138, 0.815); */
}

::placeholder{
    opacity: 0.8;
    text-align: center;
    font-size: 20px;
}

#newTodo input{
    background-color: transparent;
    border: 2px dashed rgb(32, 32, 32);
    text-align: center;
    padding: 5px 0;
}

#newTodo input[type=textarea]{
    height: 80px;
    width: 100%;
}

#newTodo button{
    height: 30px;
    margin: 0 10px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: rgb(68, 68, 68);
    cursor: pointer;
    border: 1px solid black;
}

#cancel{
    background-color: lightpink;
}

#createTodo{
    background-color: lightgreen;
}


.high{
    background-color: lightsalmon;
}

/*
.low{
    background-color: lightgreen;
}
*/